<div id="container">
    <div id="foto" [ngStyle]="{'background-image': 'url('+producto.fotoUrl+')'}">
    <img *ngIf="producto.esCeliaco" src="assets/img/celiaco.webp" alt="Apto celiaco">
    <img *ngIf="producto.esVegano" src="assets/img/vegano.webp" alt="Apto vegano">
    </div>
    <div id="detalles">
    <h4>{{producto.nombre}}</h4>
    <ul>
        <li *ngFor="let ingrediente of producto.ingredientes">
            {{ingrediente}}
        </li>
    </ul>
    <p id="precio">${{producto.precio}}</p>
    </div>
</div>
