@use "./../../../../public/styles/variables.scss";

h2{
    margin-top: 50px;
    font-size: xx-large;
    text-align: center;
}

#tarjetas-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: variables.$border-radius-chico;
    overflow: hidden;    
}

.tarjeta-producto-container{
    position: relative;    
    display: flex;
    height: 100px;
    background-color: variables.$color-principal-claro;
    >div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }
}

#izq{
    width: 30%;    
    background-color: bisque;
    background-size: cover;
    background-position: center;
    border-radius: variables.$border-radius-chico;
    > div{
        position: absolute;
        bottom: 8px;
        left: 8px;
        img{
            height: 25px;
            background-color: variables.$color-sello-comida;
            border-radius: 50%;
        }
    }
}

#centro{
    width: 55%;    
}

#der{
    width: 15%;
    align-items: end;    
}

.contenedor{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;        
}

#borrar{
    width: 100%;
    height: 100%;
    background: none;
    background-color: unset;
    border: none;
    padding: 0;
    cursor: pointer;          
}

#borrar img {
  width: 25px;
  height: 25px;  
  object-fit: contain;
  justify-content: end;      
}

#mas{
    height: 30px;
    font-size: xx-large;
    text-decoration: none;
    color: black;
    background-color: variables.$color-principal-claro;
    padding: 15px 30px;
    border-radius: variables.$border-radius-chico;
}

#informacion{
    font-size: large;
}

#envios-container{
    background-color: variables.$color-principal-claro;
    padding: 10px;
    border-radius: variables.$border-radius-chico;
    margin: 10px 0;
    align-items: center;
    h4{
        font-size: large;
    }
    > div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: justify;
        gap: 10px;
        img{
            width: 25px;
            height: 25px;
            cursor: pointer;
        }
    }
}

#montos{
    text-align: end;
}

#totales > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#enviar{
    display: block;
    width: 100%;
    margin-top: 20px;    
    font-size: large;
    background-color: variables.$color-principal;    
    border: none;
    border-radius: variables.$border-radius-chico;
    cursor: pointer;
    padding: 15px;
    border-radius: variables.$border-radius-chico;
    font-weight: bold;
}

#boton-editar-direccion{
    padding-right: 5px;
}

dialog{
    background-color: variables.$color-principal-claro;
    border-radius: variables.$border-radius-chico;
    border: unset;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.156);
    div{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }
    button{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        width: 130px;        
        &:first-of-type{
            background-color: rgb(211, 255, 211);
        }
        &:last-of-type{
            background-color: rgb(255, 211, 211);
        }
        span:first-child{
            font-size: x-large;
        }
    }
    p{
        font-size: x-large;
        text-align: center;
    }
}



